.footeriteams{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-evenly:space-between;
    gap: 80px;
    font-family: Inter, sans-serif;
    font-weight: 300;
    
}

ul{
    list-style: none;
    padding-top: 10px;
}
ul li{
    padding-bottom: 8px;
    cursor: pointer;
    font-size: 19px;
    color: rgb(17, 17, 17);
    font-weight: 300;
    line-height: 30px;

}
h3{
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 20px;
    font-family: Inter, Roboto, sans-serif;
    color: rgb(33, 37, 41);
}
.copyright{
    margin-top: 20px;
    margin-left: 250px;
    margin-bottom: 50px;
    color: gray;
    font-size: 19px;
}