* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Top Bar */
.top-bar {
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    font-size: 18px;
    border-bottom: 1px solid #e0e0e0;
    margin-top: 10px;
}


.social-icons {
    display: flex;
    
    gap: 15px;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 300;
    height: 20px;
    line-height: 25.6px;
}

.icons {
    font-size: 16px !important;
    cursor: pointer;
}

.social-icons svg {
    cursor: pointer;
    font-size: inherit;
}


.special-offer {
    flex: 1;
    text-align: center;
    font-size: 16px;
    color: rgb(17 17 17);
    font-family:Inter, sans-serif;
    font-weight: 300;
    line-height: 25px;
}
.specialoffer{
    font-weight: bold;
}

.top-menu {
    display: flex;
    gap: 20px;
    list-style: none;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 300;
}

.top-menu li {
    cursor: pointer;
}



/* Main Navigation */
.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px 50px;
    background-color: white;
}

.logo h1 {
    font-family: cursive;
    font-size: 32px;
    margin: 0;
    font-weight: normal;
}

.logo p {
    font-size: 12px;
    letter-spacing: 2px;
    margin: 0;
}

.nav-menu {
    display: flex;
    gap: 30px;
    list-style: none;
    font-size: 16px;
    color: rgb(51,51,51);
    font-weight: 700;
    line-height: 25px;
    margin-left: auto;
    margin-right: 30px;
    font-family: Inter, sans-serif;
}

.nav-menu li {
    cursor: pointer;
    font-weight: 500;
    justify-content: space-between;
    align-items: flex-end;
}



.nav-menu span {
    font-size: 10px;
    margin-left: 3px;
}

.nav-icons {
    display: inline-flex;
    gap: 20px;
    line-height: 25px;
    font-size: 16px;
    font-weight: 300;
    color: rgb(17 17 17);
    font-family: Inter, sans-serif;
    height: 23px;
}

.nav-icons svg {
    cursor: pointer;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
    padding-left: 10px;

  position: absolute;
  top: 100%;
   z-index: 9999;
  background: white;
  width: 100px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}
