* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Top Bar */
.top-bar {
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    font-size: 18px;
    border-bottom: 1px solid #e0e0e0;
    margin-top: 10px;
}


.social-icons {
    display: flex;
    font-size: 18px;
    gap: 15px;
}

.icons {
    font-size: 28px !important;
    cursor: pointer;
}

.social-icons svg {
    cursor: pointer;
    font-size: inherit;
}


.special-offer {
    flex: 1;
    text-align: center;
    font-size: 17px;
    color: black;
}

.top-menu {
    display: flex;
    gap: 20px;
    list-style: none;
}

.top-menu li {
    cursor: pointer;
}



/* Main Navigation */
.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px 50px;
    background-color: white;
}

.logo h1 {
    font-family: cursive;
    font-size: 32px;
    margin: 0;
    font-weight: normal;
}

.logo p {
    font-size: 12px;
    letter-spacing: 2px;
    margin: 0;
}

.nav-menu {
    display: flex;
    gap: 30px;
    list-style: none;
    font-size: 20px;
    color: black;
    font-weight: bold;
    margin-left: auto;
    margin-right: 30px;
}

.nav-menu li {
    cursor: pointer;
    font-weight: 500;
    justify-content: space-between;
    align-items: flex-end;
}



.nav-menu span {
    font-size: 10px;
    margin-left: 3px;
}

.nav-icons {
    display: flex;
    gap: 20px;
    font-size: 18px;
}

.nav-icons svg {
    cursor: pointer;
}