.swiper-pagination-bullet {
    background: #999;
    opacity: 1;
    width: 13px;
    height: 13px;
}


.swiper-pagination-bullet-active {
    background: red;
}


.swiper-pagination {
    position: relative !important;
    bottom: auto !important;
    padding-top: 20px;
}


.slider-container {
    max-width: 1200px;
    width: 100%;
    margin: 80px auto 0;
    padding: 0 0 40px 0;
}

.slider-container img {
    width: 100%;

    object-fit: cover;
    border-radius: 20px;

}


.slide-grid {
    display: flex;
    gap: 32px;
}

.slide-left,
.slide-right {
    width: 50%;
}

.slide-left img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.slide-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
}

.slide-right img {
    width: 100%;
    border-radius: 20px;
}

/* Responsive */
@media (max-width: 1024px) {
    .slider-container {
        max-width: 900px;
    }
    .slide-grid {
        gap: 24px;
    }
}

@media (max-width: 768px) {
    .slide-grid {
        flex-direction: column;
    }
    .slide-left, .slide-right {
        width: 100%;
    }
    .slider-container {
        margin-top: 32px;
        padding-bottom: 24px;
    }
    .swiper-pagination {
        padding-top: 12px;
    }
}