.swiper-pagination-bullet {
    background: #999;
    opacity: 1;
    width: 13px;
    height: 13px;
}


.swiper-pagination-bullet-active {
    background: red;
}


.swiper-pagination {
    position: relative !important;
    bottom: auto !important;
    padding-top: 20px;
}


.slider-container {
    width: 1600px;
    margin-right: 10px;
    margin-top: 80px;
    padding: 0 0 60px 0;
}

.slider-container img {
    width: 100%;

    object-fit: cover;
    border-radius: 20px;

}


.slide-grid {
    display: flex;
    gap: 70px;
}

.slide-left,
.slide-right {
    width: 50%;
}

.slide-left img {
    height: 1000px;
    width: 100%;
    border-radius: 20px;
}

.slide-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 70px;

}

.slide-right img {
    width: 100%;
    border-radius: 20px;
}